[submodule "src/zig-codecs/deps/libjpeg-turbo"]
	path = src/zig-codecs/deps/libjpeg-turbo
	url = https://github.com/AjRoAs/libjpeg-turbo.git
[submodule "src/zig-codecs/deps/openjpeg"]
	path = src/zig-codecs/deps/openjpeg
	url = https://github.com/AjRoAs/openjpeg.git
[submodule "src/zig-codecs/deps/charls"]
	path = src/zig-codecs/deps/charls
	url = https://github.com/AjRoAs/charls.git
[submodule "src/zig-codecs/deps/openjph"]
	path = src/zig-codecs/deps/openjph
	url = https://github.com/AjRoAs/OpenJPH.git
[submodule "src/zig-codecs/deps/libjpeg-lj"]
	path = src/zig-codecs/deps/libjpeg-lj
	url = https://github.com/AjRoAs/libjpeg.git
